@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

nav {
  width: auto;
  height: 81px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 400px;
  padding-left: 12px;
}

.row {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
  padding-right: 20px;
}

.header__page {
  line-height: 1.5;
  padding-right: 24px;
}

h2 {
  font-size: 56px;
  padding-bottom: 8px;
}

p {
  font-size: 28px;
  padding-bottom: 8px;
}

button {
  padding: 8px;
  width: 150px;
  background-color: aqua;
  color: rgb(0, 0, 0);
  font-size: medium;
  outline: none;
  border-radius: 3px;
}

.section__img {
  width: 500px;
  padding-left: 48px;
  padding-top: 24px;
}

.section__description {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  color: aqua;
}

#about,
#discord {
  height: 100vh;
}

#about {
  background-color: rgb(222, 191, 75);
}

#about h2,
#discord h2{
  display: flex;
  justify-content: center;
  padding: 36px 0;
}

#discord{
  background-color: aqua;
}

.section__description--para {
  font-size: 24px;
  padding: 0px 16px;
}

.section__description--img {
  width: 100%;
}
