@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html {
  scroll-behavior: smooth;
}

body {
}

nav {
  width: auto;
  height: 81px;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

ul {
  display: flex;
  justify-content: space-between;
}

li{
  list-style-type: none;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.logo {
  width: 400px;
  padding-left: 12px;
}

.row {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
  padding-right: 20px;
}

.header__page {
  line-height: 1.5;
  padding-right: 48px;
}

h2 {
  font-size: 56px;
}

p {
  font-size: 28px;
  padding-bottom: 8px;
}

button {
  padding: 8px;
  width: 150px;
  background-color: aqua;
  color: rgb(0, 0, 0);
  font-size: medium;
  outline: none;
  border-radius: 3px;
}

.section__img {
  border-radius: 20px;
}

#discord .section__img {
  padding-right: 48px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  color: aqua;
}

#about,
#discord {
  padding-bottom: 48px;
}

#about {
  background-color: rgb(222, 191, 75);
}

#about h2,
#discord h2,
#contact h2 {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}

#discord {
  background-color: aqua;
}

.section__description--para {
  font-size: 24px;
}

.section__description--wrapper {
  padding-top: 24px;
}

#contact{
  background-color: lavender;

}

.contact__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea,
#contact button {
  width: 700px;
}

.email,
.text {
  margin-top: 4px;
  margin-bottom: 24px;
}

.text {
  height: 160px;
}

#contact button{
  margin-bottom: 48px;
}

footer{
  background-color: aqua;
}

.footer__row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo,
.copyright{
  padding: 32px;
}

#about .section__description--para{
  padding: 0px 36px;
}
